.elegant-font {
	font-family: Vladimir Script;
}

.corsiva-font {
	font-family: Monotype Corsiva;
}

.font-header {
	font-size: 6em;
}

.max-content {
	width: 50%;
	height: max-content;
}

.clickable {
	transition: 0.5s;
}

.clickable:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.show {
	display: block;
}

.hide {
	display: none;
}

.imgStyle {
	background-image: url('https://lh3.googleusercontent.com/yHYXD5HSgS2JRL3XdEumOfI9lVXZwmYi8m9D8ex-dJNL6k-hmGE5pOT6DftlDZF3DcPteeVrnuO9OI149m-gfRwFPKyrtoKEuvJuAzY448kpXUW2FO6s_elkF0fRJAPazsEqs1VvDw=w1466-h879-no');
	width: 100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	z-index: -1;
}
